@model IEnumerable<Delux.Models.Brand>


@{
    ViewData["Title"] = "Index";
}

<h1>Бренды</h1>

<p>
    <button type="button" class="btn btn-success"><a class="news" asp-action="Create">Добавить бренд</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" class="BrandSorts" asp-route-sortState="@ViewBag.NameSort">@Html.DisplayNameFor(model => model.BrandName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <a asp-action="Index" class="BrandSortsData" asp-route-sortState="@ViewBag.DateReplSort">@Html.DisplayNameFor(model => model.FoundationDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundationDate)
                </td>
                <td>
                    <button class="pkm pkminfo">
                        <a asp-action="Edit" asp-route-id="@item.BrandId">Изменить</a>
                    </button>
                    <button class="pkm pkmdel"><a asp-action="Delete" asp-route-id="@item.BrandId">Удалить</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>



@* @{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
