@model Delux.Models.Order

@{
    ViewData["Title"] = "Details";
    var productName = ViewData["ProductName"] as string; // Получите имя продукта из ViewData
}

<h1>Детали</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <div class="ramka">
        <dl class="row rowss rowsOrder">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NameUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameUser)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Продукт
            </dt>
            <dd class="col-sm-10">
                @productName
            </dd>
        </dl>
    </div>
</div>
<div>
    <button class="pkm pkminfo"><a asp-action="Index">Назад</a></button>
</div>